body {
  font-family: 'Inter UI', sans-serif;
  border: 5px black;
}
h1 {
  font-family: 'Inter UI Medium', sans-serif;
  margin: 0;
}
h3 {
  font-size: 30px;
  font-family: 'Inter UI Medium', sans-serif;
  margin: 0;
  margin-top: 27px;
}
.lastupdated {
    font-family: 'Inter UI', sans-serif;
    font-size: 15px;
    opacity: 62%;
    margin: 0;
    margin-top: -5px;
    color: #9D9D9D;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.checked {
   text-decoration: line-through;
}
img {
  padding-top: 5px;
  margin-right: 5px;
  width: 28px;
  vertical-align: -7px;;
}
li > p {
  margin-bottom: 3px;
  display: inline;
}
a {
  color: black;
  text-decoration: none;
    border-bottom: 3px solid black;
}
a:hover {
  color: #6F6F6F;
  text-decoration: none;
    border-bottom: 3px solid #6F6F6F;
}
html {
  border: 5px black;
}
footer {
  margin: 50px 0px 50px 0px;
}

@media only screen and (min-width: 800px) {
  body {
    margin-left: 33.3333333%;
  margin-right: 33.3333333%;
  margin-top: 27px;
} }
@media only screen and (min-width: 500px) {
h1 {
  font-size: 75px;
}}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 50px;
  }}
